body {
	background: radial-gradient(circle, #cc99ff 30%, #5900b3)
}

#calculator {
	max-width: 400px;
	padding: 20px;
	margin-top: 100px;
	background-color: #9dd2ea;
	background: linear-gradient(#9dd2ea, #8bceec);
	border-radius: 5px;
	box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0,0,0,.2)
}

.screen {
	width: 100%;
	padding: 0 10px;
	background: rgba(0,0,0,.2);
	border-radius: 3px;
	box-shadow: inset 0px 4px rgba(0,0,0,.2);
	height: 32px;

}



.number, .operator, .delete, .decimal{
	height: 36px;
	width: 66px;
	background: white;
	border-radius: 5px;
	box-shadow: 0px 4px rgba(0,0,0,.2);
	margin: 0 7px 11px 0;
	color:#888;
	user-select: none;

}

.operator, .decimal {
	background-color: orange;
	color: white;
}

.btn-equ, .delete {
	background-color: #000;
	color: white;
}

.top-row {
	margin-top: 20px;
}

.clear {
	background: #ff9fa8;
	box-shadow: 0px 2px #ff7c87;
	color: white;
	width: 50px;
}

#meaning {
	position: absolute;
	left: -1000px;
	top: 2%;
}

#meaning.move{
	left: 2000px;
	transition: all 7s ease;
	
}

#evil {
	position: absolute;
	left: -1000px;
	top: 50%;
}

#evil.move-two {
	left: 1000px; 
	transform: scale(5,5) rotate(1440deg);
	transition: all 4s ease;
}

#four-twenty {
	position: absolute;
	left: -1000px;
	top: 20%;
}


#four-twenty.move-three{
	left: 700px; 
	transform: scale(1.5,1.5);
	transition: all 2s ease;
}

#wizard {
	position: absolute;
	left: -1000px;
	top: 20%;
}

#wizard.move-four {
	left: 700px; 
	transform: scale(1.5,1.5) rotate(720deg);
	transition: all 2s ease;
}

.row.move-five {
	transform: rotate(3600deg);
	transition: all 4s ease;
}

#thug {
	position: absolute;
	left: -1000px;
	top: 20%;
}

#thug.move-six {
	left: 700px; 
	transform: scale(1.5,1.5) rotate(360deg);
	transition: all 2s ease-in-out;
}

#idk{
	position: absolute;
	left: -1000px;
	top: 20%;
}


#idk.move-seven {
	left: 2200px;
	transition: all 5s ease;
	transform: scale(2,2);
}




::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000000;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000000;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #000000;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #000000;
}